body {
    font-family: "Roboto", sans-serif;
}

.demo-logo-vertical {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
}

.ant-layout {
    min-height: 100vh;
}